*{
    margin: 20px;
    background-color: gray;
     
    
}
.logo{
    align-self: auto;
    align-content: center;
}
.name{
    
    line-height: 1.3;
    color: brown;
    font-family: monospace
}
h2{
    color: aqua;
    font-size: 30px;
}